![unnamed.jpg]()

<h1 align="center">Financial Technology</h1>
<h1 align="center">Homework_1</h1>
<h1 align="center">Apple Financial Statements</h1>
<h1 align="center">Artur Avagyan</h1>

## Import all the packeges we need for our work

In [24]:
# !apt update
# !apt install chromium-chromedriver
# !pip install selenium

from bs4 import BeautifulSoup
from selenium.webdriver import ActionChains
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
import pandas as pd
import os


options = webdriver.ChromeOptions()
options.add_argument('--headless')
options.add_argument('--no-sandbox')
options.add_argument('--disable-dev-shm-usage')

## Function for scraping data from web

In [37]:
def scraping_apple(report_type='income_statement',time_type='annaul'):
    
    """
    Inputs: report_type: 'income_statement','balance_sheet' or 'cash_flow'
            time_type:   'annaul' or 'quarterly'
    
    Output: Report
    """
    
    
    options = webdriver.ChromeOptions()
    options.add_argument('--headless')
    options.add_argument('--no-sandbox')
    options.add_argument('--disable-dev-shm-usage')
    
    #Web pages for each type
    income_statement='https://finance.yahoo.com/quote/AAPL/financials?p=AAPL'
    balance_sheet='https://finance.yahoo.com/quote/AAPL/balance-sheet?p=AAPL'
    cash_flow='https://finance.yahoo.com/quote/AAPL/cash-flow?p=AAPL'
    
    #check type, and set corresponding web page and size of report columns
    if report_type=='income_statement':
        url_type=income_statement
        count_column=6
    elif report_type=='balance_sheet':
        url_type=balance_sheet
        count_column=5
    elif report_type=='cash_flow':
        url_type=cash_flow
        count_column=6
    
    #set web page in webdriver
    driver = webdriver.Chrome(options=options,
                              executable_path='../chromedriver_win32/chromedriver')
    driver.get(url_type)
    
    #command for finding button(Expand All) element
    expand_all_button=driver.find_elements_by_xpath("//button[@class='expandPf Fz(s) Bd(0) C($linkColor) C($linkActiveColor):h Fw(500) D(n)--print Fl(end) Mt(5px)']")
    
    #check time_type, set number of columns and click corresponding button
    if time_type=='quarterly':
        count_column+=1
        quart_button=driver.find_elements_by_xpath("//button[@class='P(0px) M(0px) C($linkColor) Bd(0px) O(n)']")
        for i in quart_button:
            i.click()
    #click "Expand All" button
    for i in expand_all_button:
        i.click()

    #take page source from that web page
    soup_url= BeautifulSoup(driver.page_source,'lxml')

    soup_url= BeautifulSoup(driver.page_source,'html.parser')
    
    #create list for scraping data and set first elements as "Breakdown"
    list_of_data=['Breakdown']
    
    
    #loop for extract()
    for s in soup_url.find_all('button'):
        s.extract()
    
    # set previous_element None, for future checking
    previous_element=None
    #loop for appending data in list_of_data
    for a in soup_url.find(class_="M(0) Whs(n) BdEnd Bdc($seperatorColor) D(itb)").find_all(['div']):
        if (a.string!=None):
            #check for non-repetition with the previous elelemt
            try:
                list_of_data.append(a.string)
                previous_element=a.string
            except:
                continue
    
    #return report
    return pd.DataFrame(list(zip(*[iter(list_of_data)]*count_column))[1:],
                        columns=list(zip(*[iter(list_of_data)]*count_column))[0]).set_index('Breakdown')

## Report for each types

In [42]:
#all types of report
report_type=['income_statement','balance_sheet','cash_flow']

#all types of time
time_type=['annaul','quarterly']

#loops for all possible repots
for i in report_type:
    for j in time_type:
        print('\n\n',j,' report for ',i,'\n\n')
        display(scraping_apple(report_type=i,time_type=j))

 annaul  report for  income_statement

                                                            ttm  ...    9/30/2017
Breakdown                                                        ...
Total Revenue                                       347,155,000  ...  229,234,000
Operating Revenue                                   347,155,000  ...  229,234,000
Cost of Revenue                                     204,804,000  ...  141,048,000
Gross Profit                                        142,351,000  ...   88,186,000
Operating Expense                                    42,413,000  ...   26,842,000
Selling General and Administrative                   21,293,000  ...   15,261,000
Research & Development                               21,120,000  ...   11,581,000
Operating Income                                     99,938,000  ...   61,344,000
Net Non Operating Interest Income Expense               345,000  ...    2,878,000
Interest Income Non Operating                         2,952,000  ...    5,201,000
Interest Expense Non Operating                        2,607,000  ...    2,323,000
Other Income Expense                                    577,000  ...     -133,000
Other Non Operating Income Expenses                     577,000  ...     -133,000
Pretax Income                                       100,860,000  ...   64,089,000
Tax Provision                                        14,058,000  ...   15,738,000
Net Income Common Stockholders                       86,802,000  ...   48,351,000
Net Income                                           86,802,000  ...   48,351,000
Net Income Including Non-Controlling Interests       86,802,000  ...   48,351,000
Net Income Continuous Operations                     86,802,000  ...   48,351,000
Diluted NI Available to Com Stockholders             86,802,000  ...   48,351,000
Basic EPS                                                     -  ...         2.32
Diluted EPS                                                   -  ...         2.30
Basic Average Shares                                          -  ...   20,868,968
Diluted Average Shares                                        -  ...   21,006,768
Total Operating Income as Reported                   99,938,000  ...   61,344,000
Total Expenses                                      247,217,000  ...  167,890,000
Net Income from Continuing & Discontinued Opera...   86,802,000  ...   48,351,000
Normalized Income                                    86,802,000  ...   48,351,000
Interest Income                                       2,952,000  ...    5,201,000
Interest Expense                                      2,607,000  ...    2,323,000
Net Interest Income                                     345,000  ...    2,878,000
EBIT                                                103,467,000  ...   66,412,000
EBITDA                                              114,464,000  ...            -
Reconciled Cost of Revenue                          204,804,000  ...  141,048,000
Reconciled Depreciation                              10,997,000  ...   10,157,000
Net Income from Continuing Operation Net Minori...   86,802,000  ...   48,351,000
Normalized EBITDA                                   114,464,000  ...   76,569,000
Tax Rate for Calcs                                            0  ...            0
Tax Effect of Unusual Items                                   0  ...            0

[39 rows x 5 columns]

 quarterly  report for  income_statement

                                                            ttm  ...   6/30/2020
Breakdown                                                        ...
Total Revenue                                       347,155,000  ...  59,685,000
Operating Revenue                                   347,155,000  ...  59,685,000
Cost of Revenue                                     204,804,000  ...  37,005,000
Gross Profit                                        142,351,000  ...  22,680,000
Operating Expense                                    42,413,000  ...   9,589,000
Selling General and Administrative                   21,293,000  ...   4,831,000
Research & Development                               21,120,000  ...   4,758,000
Operating Income                                     99,938,000  ...  13,091,000
Net Non Operating Interest Income Expense               345,000  ...     204,000
Interest Income Non Operating                         2,952,000  ...     901,000
Interest Expense Non Operating                        2,607,000  ...     697,000
Other Income Expense                                    577,000  ...    -158,000
Other Non Operating Income Expenses                     577,000  ...    -158,000
Pretax Income                                       100,860,000  ...  13,137,000
Tax Provision                                        14,058,000  ...   1,884,000
Net Income Common Stockholders                       86,802,000  ...  11,253,000
Net Income                                           86,802,000  ...  11,253,000
Net Income Including Non-Controlling Interests       86,802,000  ...  11,253,000
Net Income Continuous Operations                     86,802,000  ...  11,253,000
Diluted NI Available to Com Stockholders             86,802,000  ...  11,253,000
Basic EPS                                                     -  ...        0.65
Diluted EPS                                                   -  ...        0.65
Basic Average Shares                                          -  ...  17,250,292
Diluted Average Shares                                        -  ...  17,419,152
Total Operating Income as Reported                   99,938,000  ...  13,091,000
Total Expenses                                      247,217,000  ...  46,594,000
Net Income from Continuing & Discontinued Opera...   86,802,000  ...  11,253,000
Normalized Income                                    86,802,000  ...  11,253,000
Interest Income                                       2,952,000  ...     901,000
Interest Expense                                      2,607,000  ...     697,000
Net Interest Income                                     345,000  ...     204,000
EBIT                                                103,467,000  ...  13,834,000
EBITDA                                              114,464,000  ...           -
Reconciled Cost of Revenue                          204,804,000  ...  37,005,000
Reconciled Depreciation                              10,997,000  ...   2,752,000
Net Income from Continuing Operation Net Minori...   86,802,000  ...  11,253,000
Normalized EBITDA                                   114,464,000  ...  16,586,000
Tax Rate for Calcs                                            0  ...           0
Tax Effect of Unusual Items                                   0  ...           0

[39 rows x 6 columns]

 annaul  report for  balance_sheet

                                           9/30/2020  ...    9/30/2017
Breakdown                                             ...
Total Assets                             323,888,000  ...  375,319,000
Total Liabilities Net Minority Interest  258,549,000  ...  241,272,000
Total Equity Gross Minority Interest      65,339,000  ...  134,047,000
Total Capitalization                     164,006,000  ...  231,254,000
Common Stock Equity                       65,339,000  ...  134,047,000
Net Tangible Assets                       65,339,000  ...  126,032,000
Working Capital                           38,321,000  ...   27,831,000
Invested Capital                         177,775,000  ...  249,727,000
Tangible Book Value                       65,339,000  ...  126,032,000
Total Debt                               112,436,000  ...  115,680,000
Net Debt                                  74,420,000  ...   95,391,000
Share Issued                              16,976,763  ...   20,504,804
Ordinary Shares Number                    16,976,763  ...   20,504,804

[13 rows x 4 columns]

 quarterly  report for  balance_sheet

                                                      6/30/2021  ...    6/30/2020
Breakdown                                                        ...
Total Assets                                        329,840,000  ...  317,344,000
Current Assets                                      114,423,000  ...  140,065,000
Cash, Cash Equivalents & Short Term Investments      61,696,000  ...   93,025,000
Cash And Cash Equivalents                            34,050,000  ...   33,383,000
Cash                                                 14,853,000  ...   20,253,000
Cash Equivalents                                     19,197,000  ...   13,130,000
Other Short Term Investments                         27,646,000  ...   59,642,000
Receivables                                          33,908,000  ...   32,075,000
Accounts receivable                                  17,475,000  ...   17,882,000
Other Receivables                                    16,433,000  ...   14,193,000
Inventory                                             5,178,000  ...    3,978,000
Other Current Assets                                 13,641,000  ...   10,987,000
Total non-current assets                            215,417,000  ...  177,279,000
Net PPE                                              38,615,000  ...   35,687,000
Gross PPE                                           108,857,000  ...  100,917,000
Properties                                                    0  ...            0
Land And Improvements                                19,149,000  ...   18,068,000
Machinery Furniture Equipment                        78,981,000  ...   72,982,000
Leases                                               10,727,000  ...    9,867,000
Accumulated Depreciation                            -70,242,000  ...  -65,230,000
Investments And Advances                            131,948,000  ...  100,592,000
Investment in Financial Assets                      131,948,000  ...  100,592,000
Available for Sale Securities                       131,948,000  ...  100,592,000
Other Non Current Assets                             44,854,000  ...   41,000,000
Total Liabilities Net Minority Interest             265,560,000  ...  245,062,000
Current Liabilities                                 107,754,000  ...   95,318,000
Payables And Accrued Expenses                        40,409,000  ...   35,325,000
Payables                                             40,409,000  ...   35,325,000
Accounts Payable                                     40,409,000  ...   35,325,000
Current Debt And Capital Lease Obligation            16,039,000  ...   18,675,000
Current Debt                                         16,039,000  ...   18,675,000
Commercial Paper                                      8,000,000  ...   11,166,000
Other Current Borrowings                              8,039,000  ...    7,509,000
Current Deferred Liabilities                          7,681,000  ...    6,313,000
Current Deferred Revenue                              7,681,000  ...    6,313,000
Other Current Liabilities                            43,625,000  ...   35,005,000
Total Non Current Liabilities Net Minority Inte...  157,806,000  ...  149,744,000
Long Term Debt And Capital Lease Obligation         105,752,000  ...   94,048,000
Long Term Debt                                      105,752,000  ...   94,048,000
Tradeand Other Payables Non Current                  24,923,000  ...   28,188,000
Other Non Current Liabilities                        27,131,000  ...   27,508,000
Total Equity Gross Minority Interest                 64,280,000  ...   72,282,000
Stockholders' Equity                                 64,280,000  ...   72,282,000
Capital Stock                                        54,989,000  ...   48,696,000
Common Stock                                         54,989,000  ...   48,696,000
Retained Earnings                                     9,233,000  ...   24,136,000
Gains Losses Not Affecting Retained Earnings             58,000  ...     -550,000
Total Capitalization                                170,032,000  ...  166,330,000
Common Stock Equity                                  64,280,000  ...   72,282,000
Net Tangible Assets                                  64,280,000  ...   72,282,000
Working Capital                                       6,669,000  ...   44,747,000
Invested Capital                                    186,071,000  ...  185,005,000
Tangible Book Value                                  64,280,000  ...   72,282,000
Total Debt                                          121,791,000  ...  112,723,000
Net Debt                                             87,741,000  ...   79,340,000
Share Issued                                         16,556,942  ...   17,135,756
Ordinary Shares Number                               16,556,942  ...   17,135,756

[57 rows x 5 columns]

 annaul  report for  cash_flow

                                                         ttm  ...     9/30/2017
Breakdown                                                     ...
Operating Cash Flow                              104,414,000  ...    63,598,000
Cash Flow from Continuing Operating Activities   104,414,000  ...    63,598,000
Net Income from Continuing Operations             86,802,000  ...    48,351,000
Depreciation Amortization Depletion               10,997,000  ...    10,157,000
Depreciation & amortization                       10,997,000  ...    10,157,000
Deferred Tax                                      -1,134,000  ...     5,966,000
Deferred Income Tax                               -1,134,000  ...     5,966,000
Stock based compensation                           7,685,000  ...     4,840,000
Other non-cash items                                -692,000  ...      -166,000
Change in working capital                            756,000  ...    -5,550,000
Change in Receivables                             -1,788,000  ...    -6,347,000
Changes in Account Receivables                       452,000  ...    -2,093,000
Change in Inventory                               -1,350,000  ...    -2,723,000
Change in Payables And Accrued Expense             4,939,000  ...     9,618,000
Change in Payable                                  4,939,000  ...     9,618,000
Change in Account Payable                          4,939,000  ...     9,618,000
Change in Other Current Assets                    -8,727,000  ...    -5,318,000
Change in Other Current Liabilities                5,512,000  ...      -154,000
Change in Other Working Capital                    2,170,000  ...      -626,000
Investing Cash Flow                               -9,849,000  ...   -46,446,000
Cash Flow from Continuing Investing Activities    -9,849,000  ...   -46,446,000
Net PPE Purchase And Sale                         -9,646,000  ...   -12,451,000
Purchase of PPE                                   -9,646,000  ...   -12,451,000
Net Intangibles Purchase And Sale                          -  ...      -344,000
Purchase of Intangibles                                    -  ...      -344,000
Net Business Purchase And Sale                       -64,000  ...      -329,000
Purchase of Business                                 -64,000  ...      -329,000
Net Investment Purchase And Sale                    -111,000  ...   -33,542,000
Purchase of Investment                          -112,594,000  ...  -159,881,000
Sale of Investment                               112,483,000  ...   126,339,000
Net Other Investing Changes                          -28,000  ...       220,000
Financing Cash Flow                              -94,328,000  ...   -17,347,000
Cash Flow from Continuing Financing Activities   -94,328,000  ...   -17,347,000
Net Issuance Payments of Debt                     13,907,000  ...    29,014,000
Net Long Term Debt Issuance                       11,879,000  ...    25,162,000
Long Term Debt Issuance                           19,379,000  ...    28,662,000
Long Term Debt Payments                           -7,500,000  ...    -3,500,000
Net Short Term Debt Issuance                       2,028,000  ...     3,852,000
Short Term Debt Payments                                   -  ...             -
Net Common Stock Issuance                        -82,399,000  ...   -32,345,000
Common Stock Issuance                              1,011,000  ...       555,000
Common Stock Payments                            -83,410,000  ...   -32,900,000
Cash Dividends Paid                              -14,338,000  ...   -12,769,000
Common Stock Dividend Paid                                 -  ...   -12,769,000
Net Other Financing Charges                      -11,498,000  ...    -1,247,000
End Cash Position                                 35,276,000  ...    20,289,000
Changes in Cash                                      237,000  ...      -195,000
Beginning Cash Position                           35,039,000  ...    20,484,000
Income Tax Paid Supplemental Data                 19,627,000  ...    11,591,000
Interest Paid Supplemental Data                    2,597,000  ...     2,092,000
Capital Expenditure                               -9,646,000  ...   -12,795,000
Issuance of Capital Stock                          1,011,000  ...       555,000
Issuance of Debt                                  22,370,000  ...    28,662,000
Repayment of Debt                                 -7,500,000  ...    -3,500,000
Repurchase of Capital Stock                      -83,410,000  ...   -32,900,000
Free Cash Flow                                    94,768,000  ...    50,803,000

[56 rows x 5 columns]

 quarterly  report for  cash_flow

                                                         ttm  ...    6/30/2020
Breakdown                                                     ...
Operating Cash Flow                              104,414,000  ...   16,271,000
Cash Flow from Continuing Operating Activities   104,414,000  ...   16,271,000
Net Income from Continuing Operations             86,802,000  ...   11,253,000
Depreciation Amortization Depletion               10,997,000  ...    2,752,000
Depreciation & amortization                       10,997,000  ...    2,752,000
Deferred Tax                                      -1,134,000  ...      833,000
Deferred Income Tax                               -1,134,000  ...      833,000
Stock based compensation                           7,685,000  ...    1,698,000
Other non-cash items                                -692,000  ...      165,000
Change in working capital                            756,000  ...     -430,000
Change in Receivables                             -1,788,000  ...   -1,373,000
Changes in Account Receivables                       452,000  ...   -2,135,000
Change in Inventory                               -1,350,000  ...     -689,000
Change in Payables And Accrued Expense             4,939,000  ...    2,733,000
Change in Payable                                  4,939,000  ...    2,733,000
Change in Account Payable                          4,939,000  ...    2,733,000
Change in Other Current Assets                    -8,727,000  ...    2,106,000
Change in Other Current Liabilities                5,512,000  ...   -3,633,000
Change in Other Working Capital                    2,170,000  ...      426,000
Investing Cash Flow                               -9,849,000  ...   -5,165,000
Cash Flow from Continuing Investing Activities    -9,849,000  ...   -5,165,000
Net PPE Purchase And Sale                         -9,646,000  ...   -1,565,000
Purchase of PPE                                   -9,646,000  ...   -1,565,000
Net Business Purchase And Sale                       -64,000  ...     -339,000
Purchase of Business                                 -64,000  ...     -339,000
Net Investment Purchase And Sale                    -111,000  ...   -2,998,000
Purchase of Investment                          -112,594,000  ...  -30,181,000
Sale of Investment                               112,483,000  ...   27,183,000
Net Other Investing Changes                          -28,000  ...     -263,000
Financing Cash Flow                              -94,328,000  ...  -19,116,000
Cash Flow from Continuing Financing Activities   -94,328,000  ...  -19,116,000
Net Issuance Payments of Debt                     13,907,000  ...     -441,000
Net Long Term Debt Issuance                       11,879,000  ...    1,046,000
Long Term Debt Issuance                           19,379,000  ...    8,425,000
Long Term Debt Payments                           -7,500,000  ...   -7,379,000
Net Short Term Debt Issuance                       2,028,000  ...   -1,487,000
Short Term Debt Issuance                                   -  ...   -1,487,000
Net Common Stock Issuance                        -82,399,000  ...  -15,891,000
Common Stock Issuance                              1,011,000  ...            0
Common Stock Payments                            -83,410,000  ...  -15,891,000
Cash Dividends Paid                              -14,338,000  ...   -3,656,000
Common Stock Dividend Paid                                 -  ...   -3,656,000
Net Other Financing Charges                      -11,498,000  ...      872,000
End Cash Position                                 35,276,000  ...   35,039,000
Changes in Cash                                      237,000  ...   -8,010,000
Beginning Cash Position                           35,039,000  ...   43,049,000
Income Tax Paid Supplemental Data                 19,627,000  ...      905,000
Interest Paid Supplemental Data                    2,597,000  ...      586,000
Capital Expenditure                               -9,646,000  ...   -1,565,000
Issuance of Capital Stock                          1,011,000  ...            0
Issuance of Debt                                  22,370,000  ...    6,938,000
Repayment of Debt                                 -7,500,000  ...   -7,379,000
Repurchase of Capital Stock                      -83,410,000  ...  -15,891,000
Free Cash Flow                                    94,768,000  ...   14,706,000

[54 rows x 6 columns]

<h1><span >Best Regards</span></h1>

<h4 align="left"><span>Artur Avagyan</span></h4>
    <ul>
    <li><span >Responsible Actuary in Armenia Insurance</span></li>
    <li><span >Student from YSU (Data Science for Business Master's Degree Program)</span></li>
    <li><span >E-mail:   avagyan.artur97@gmail.com</span></li>
    <li><span >LinkedIn: <a href="https://www.linkedin.com/in/artur-avagyan-0a16311b3">Artur Avagyan</a></span></li>
    <li><span >GitHub:   <a href="https://github.com/artur-avagyan">Artur Avagyan</a></span></li>
    <li><span >Phone:    +37498641815</span></li>
    </ul>
<h2 align="center"><span >YSU DSB 21/22</span></h2>